#My pylintrc for use with atom.io's linter-pylint
[MESSAGES CONTROL]
disable=W0311,W1201,W0702,W0611,W0621,W0212,W0512,E1101,C0111,C0103,R0902,R0903,R0913

# checks for :
# * unauthorized constructions
# * strict indentation
# * line length
# * use of <> instead of !=
#
[FORMAT]
# Maximum number of characters on a single line.
max-line-length=128
# Maximum number of lines in a module
max-module-lines=1000
# String used as indentation unit. This is usually "    " (4 spaces) or "\t" (1
# tab).  In repo it is 2 spaces.
indent-string='  '
